* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  overflow-y: hidden;
  width: 300vw;
  height: 100vh;
  background: linear-gradient(270deg, #000000 0%, rgba(72, 72, 72, 0.31) 51.33%),
    linear-gradient(90deg, #000000 0.54%, #484848 55.05%);
  position: relative;
  font-family: "Red Rose", cursive;
}

.App img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  background-size: fit-content;
  background-repeat: no-repeat;
  filter: invert(100%);
  filter: grayscale(100%);
}
